$basicLightbox__background : rgba(0, 0, 0, .8) !default;
$basicLightbox__zIndex     : 1000 !default;
$basicLightbox__duration   : .4s !default;
$basicLightbox__timing     : cubic-bezier(.51, .92, .24, 1) !default;